<h1>Movies</h1>
<mat-list role="list">
    <ng-container *ngFor="let movie of movies">
        <mat-list-item  class="mt-3" role="listitem" style="height: auto; cursor: pointer;" (click)="redirectToProfile(movie.id)">
            <div class="row" style="width: 100%;">
                <div class="col-3">
                    <img src="./assets/images/no-image.png" class="max-h-140px">
                </div>
                <div class="col">
                    <p>{{movie.name + ' (' + movie.duration + ' minutes)'}} - {{movie.year}}</p>
                    <p>{{movie.description}}</p>
                    <p><span *ngFor="let genre of movie.genres">{{genre.name + ' '}}</span></p>
                </div>
            </div>
        </mat-list-item>
        <mat-divider class="mt-3"></mat-divider>
    </ng-container>
</mat-list>
