<mat-card>
    <mat-card-title class="text-center mb-3">
      My Profile
      <button mat-icon-button (click)="toggleEdit()" class="pull-right top-button">
        <i [ngClass]="edit ? 'fas fa-times' : 'fas fa-edit'"></i></button>
    </mat-card-title>
    <mat-card-content class="text-center">
      <form #profileForm="ngForm" (ngSubmit)="updateProfile()">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input 
              matInput
              name="username"
              #username="ngModel"
              minlength="3"
              required
              [(ngModel)]="user.username"
              [disabled]="!edit"
            >
            <mat-error *ngIf="username.hasError('required')">Username is required</mat-error>  
            <mat-error *ngIf="username.hasError('minlength')">Username must be at least 3 characters</mat-error>  
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input 
              matInput
              name="email"
              email
              #email="ngModel"
              minlength="3"
              required
              [(ngModel)]="user.email"
              [disabled]="!edit"
            >
            <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>  
            <mat-error *ngIf="email.hasError('minlength')">Email must be at least 3 characters</mat-error>  
            <mat-error *ngIf="email.hasError('email')">Not valid email</mat-error>  
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input 
              matInput
              name="firstName"
              #firstName="ngModel"
              minlength="3"
              required
              [(ngModel)]="user.firstName"
              [disabled]="!edit"
            >
            <mat-error *ngIf="firstName.hasError('required')">First name is required</mat-error>  
            <mat-error *ngIf="firstName.hasError('minlength')">First name must be at least 3 characters</mat-error>  
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input 
              matInput
              name="lastName"
              #lastName="ngModel"
              minlength="3"
              required
              [(ngModel)]="user.lastName"
              [disabled]="!edit"
            >
            <mat-error *ngIf="lastName.hasError('required')">Last name is required</mat-error>  
            <mat-error *ngIf="lastName.hasError('minlength')">Last name must be at least 3 characters</mat-error>  
          </mat-form-field>
        </div>

        <div class="form-group" *ngIf="edit">
          <button mat-raised-button color="primary" [disabled]="profileForm.invalid">Save</button>
        </div>
      </form>
    </mat-card-content>
</mat-card>

<mat-card class="mt-3">
    <mat-card-title class="text-center mb-3">Change Password</mat-card-title>
    <mat-card-content class="text-center">
        
    </mat-card-content>
</mat-card>