<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar> Movie DB</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="#"><i class="fas fa-film mr-2"></i>Movies</a>
        <!-- Logout -->
        <a *ngIf="loggedIn" (click)="logout()" mat-list-item href="#" class="pull-down"><i class="fas fa-sign-out-alt mr-2"></i>Logout</a>
        <!-- Login/Register-->
        <div class="pull-down" style="width: 100%;">
          <a *ngIf="!loggedIn" routerLink="/auth/login" mat-list-item href="#"><i class="fas fa-sign-in-alt mr-2"></i>Login</a>
          <a *ngIf="!loggedIn" mat-list-item href="#"><i class="fas fa-file-signature mr-2"></i>Register</a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
  
        <form #searchForm (ngSubmit)="search()" style="width: 50%;">
          <mat-form-field appearance="legacy" style="width: 100%;">
            <input
              matInput
              name="search_"
              #search_="ngModel"
              placeholder="Search..."
              [(ngModel)]="searchString"
            />
            <button mat-icon-button matSuffix><i class="fas fa-search"></i></button>
          </mat-form-field>
        </form>

        <span class="spacer"></span>
        <!-- Profile -->
        <button *ngIf="loggedIn" [matMenuTriggerFor]="menu" mat-icon-button><i class="far fa-user"></i></button>
        <mat-menu #menu="matMenu">
          <button routerLink="/auth/profile" mat-menu-item>My Profile</button>
          <button mat-menu-item>My Ratings</button>
        </mat-menu>
      </mat-toolbar>

      <div class="main-page">
        <div class="row justify-content-center">
          <div class="col-auto">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  
  </mat-sidenav-container>
  